h1	{
	font-family: serif;
	text-align: center;
}

h3	{
	font-family: georgia;
	color: navy;
}

body	{
		font-family: "Palatino Linotype"; 
		background-image: url(https://image.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg);
		margin: 45px 45px 45px 45px;
		text-align: left;
		font-size: 20px;
		border: 5px solid blue;
		}	

table	{
		margin-left: auto;
		margin-right: auto; 
		}
